body {
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 1s;
    align-items: center;
}

.container {
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    align-items: center;
    align-content: center;

}

h1 {
    font-size: 2em;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

button:focus {
    outline: #007bff;
}